/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

html {
  font-size: 62.5%;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
  /* font-style: italic; */
  color: #40b48e;
  /* text-shadow: 0 0.2rem 5rem rgb(119, 115, 115); */
  /* text-transform: uppercase; */
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

body {
  margin: 0 auto;
  width: 100vw;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.content {
  position:fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  height: 100vh;
}

.home-content{
  max-width: 100vh;
  height: auto;
  position: relative;
  bottom: 0;
  margin: 0 auto;
  top: 35rem;
}

.home-content h1{
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.home-content p{
  color: rgba(247, 247, 247, 0.939);
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.start-btn{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: rgb(182, 13, 13);
  color: rgba(255, 255, 255, 0.891);
  cursor: pointer;
  margin-top: 10px;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.jumbotron {
  padding: 30px;
  background-color: #ffffff;
}

.jumbotron .container {
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  margin-top: -18px;
}

.jumbotron h1 {
  text-align: center;
  color: #f56a65;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.search-form input {
  width: 420px;
  height: 1.4rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  padding: 12px 24px;
  transition: transform 250ms ease-in-out;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 150ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search-form input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.search-form input:hover,
.search-form input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.alert {
  position: absolute;
  top: 18rem;
  left: 0;
  /* width: 100%; */
  width: 100%;
  height: 30px;
  background-color: rgb(233, 72, 72);
  border-radius: 0.5rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.recipes {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.5rem;
}

.recipe {
  width: 27rem;
  margin: 2.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  /* padding: 2rem; */
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.2rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
  text-align: center;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #070d61;
}

.recipe button {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #f56a65;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}
